body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header, 
main, 
footer {
    width: 1000px;
    margin-left: calc(50% - 500px);
    margin-bottom: 20px;
    display: inline-block;
}
header {
    margin-top: 50px;
}
header > img {
    float: left; 
    width: 50px;
}
nav {
    float: right;
    margin-top: 23.92px;
}
nav > a {
    margin-left: 2em;
    font-size: 15px;
    line-height: 20px;
    color: black;
    text-decoration: none;
    display: inline-block;  
    font-weight: 600;
}
nav > a:first-child {
    margin-left: 0;
}
nav > a:hover {
    text-decoration: underline;
}
div {
    width: 40%;
    float: left;    
}
h1 {
    float: left;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 35px;

}
h1 > span {
    display: block;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    margin-bottom: 25px;
}

main > img {
    width: 55%;
    float: right;
}

p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    width: 92%;
    margin-bottom: 0,33em;
    line-height: 25px;
}

div > a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: blueviolet;
    float: left;
    color: white;
    padding: 0.9em;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding-right: 2em;
    font-size: 16px;
    line-height: 1.3em;
    border-radius: 1.55em;
    border: 0.15em solid blueviolet;
    transition: all 0.5s;
    
}
div > a:hover {
    background-color: white;
    color: blueviolet;
    transition: all 0.5s;
}
footer {
    
}